images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
eval

# output
out
training-runs
*.ply

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d_results
eg3d/~

#data
*.zip

# slurm
*.out

#debug
proj*
.vscode

FLAME_PyTorch/
submodules/
v3
